<h2>Login</h2>
<form  name="myLoginForm" ng-submit="myLoginForm.$valid && submit()" novalidate>
    <span ng-show="myLoginForm.$submitted && myLoginForm.$invalid"><font color=red>Email/password combination not valid.</font></span>
    <br>
    Email Address
    <br>
    <input  type="email" name="input1" ng-model="input1" ng-required="true" />
    <br>
    <br>
    Password
    <br> 
    <input type="password" name="input2" ng-model="input2"  ng-minlength="8" ng-required="true" />
    <br>
    <br>
    <button type="submit" name="submit">Login</button>
    
</form>